# Virtual Environment
venv/
.env
*.venv
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.sqlite3
*.db


# Docker
*.env
docker-compose.override.yml

# OS files
.DS_Store
Thumbs.db

# log files
*.log
*.out
*.err
*.pid

# logs
logs
logs/app.log
*.log

data
data_cleaned
data_baby_posture

anh.jpg
anh_1.jpg